# Demographics and Employment in the United States
In the wake of the Great Recession of 2009, there has been a good deal of focus on employment statistics, one of the most important metrics policymakers use to gauge the overall strength of the economy. In the United States, the government measures unemployment using the Current Population Survey (CPS), which collects demographic and employment information from a wide range of Americans each month. In this exercise, we will employ the topics reviewed in the lectures as well as a few new techniques using the September 2013 version of this rich, nationally representative dataset.

The observations in the dataset represent people surveyed in the September 2013 CPS who actually completed a survey. While the full dataset has 385 variables, in this exercise we will use a more compact version of the dataset, CPSData.csv.

## Problem 1.1 - Loading and Summarizing the Dataset
Load the dataset from CPSData.csv into a data frame called CPS.

How many interviewees are in the dataset?

In [1]:
import pandas as pd
import numpy as np


cps = pd.read_csv('../data/CPSData.csv')
cps.shape[0]

131302

## Problem 1.2 - Loading and Summarizing the Dataset
Among the interviewees with a value reported for the Industry variable, what is the most common industry of employment?

In [2]:
cps['Industry'].value_counts().sort_values().tail(1)

Educational and health services    15017
Name: Industry, dtype: int64

## Problem 1.3 - Loading and Summarizing the Dataset
Which state has the fewest interviewees?

In [3]:
cps['State'].value_counts().sort_values().head(1)

New Mexico    1102
Name: State, dtype: int64

Which state has the largest number of interviewees?

In [4]:
cps['State'].value_counts().sort_values().tail(1)

California    11570
Name: State, dtype: int64

## Problem 1.4 - Loading and Summarizing the Dataset
What proportion of interviewees are citizens of the United States?

In [5]:
np.mean(cps['Citizenship'].str.contains('^Citizen'))

0.9421943306271039

## Problem 1.5 - Loading and Summarizing the Dataset
The CPS differentiates between race (with possible values American Indian, Asian, Black, Pacific Islander, White, or Multiracial) and ethnicity. A number of interviewees are of Hispanic ethnicity, as captured by the Hispanic variable. For which races are there at least 250 interviewees in the CPS dataset of Hispanic ethnicity?
- White
- Black
- Multiracial
- American Indian

In [6]:
cps[cps['Hispanic']==1]['Race'].value_counts()

White               16731
Black                 621
Multiracial           448
American Indian       304
Asian                 113
Pacific Islander       77
Name: Race, dtype: int64

## Problem 2.1 - Evaluating Missing Values
Which variables have at least one interviewee with a missing (NA) value?
- MetroAreaCode
- Married
- Education
- EmploymentStatus
- Industry

In [7]:
cps.isnull().sum()

PeopleInHousehold         0
Region                    0
State                     0
MetroAreaCode         34238
Age                       0
Married               25338
Sex                       0
Education             25338
Race                      0
Hispanic                  0
CountryOfBirthCode        0
Citizenship               0
EmploymentStatus      25789
Industry              65060
dtype: int64

## Problem 2.2 - Evaluating Missing Values
Often when evaluating a new dataset, we try to identify if there is a pattern in the missing values in the dataset. We will try to determine if there is a pattern in the missing values of the Married variable.

Which is the most accurate:
- The Married variable being missing is related to the Age value for the interviewee.

In [8]:
for col in ['Region', 'Sex', 'Age', 'Citizenship']:
    count_with_nulls = cps[cps['Married'].isnull()][col].value_counts().sort_index()
    count_total = cps[col].value_counts().sort_index()
    print(count_with_nulls / count_total)
    print('*'*50)

Midwest      0.197986
Northeast    0.173754
South        0.191967
West         0.204630
Name: Region, dtype: float64
**************************************************
Female    0.181044
Male      0.205591
Name: Sex, dtype: float64
**************************************************
0     1.0
1     1.0
2     1.0
3     1.0
4     1.0
     ...
77    NaN
78    NaN
79    NaN
80    NaN
85    NaN
Name: Age, Length: 82, dtype: float64
**************************************************
Citizen, Native         0.211619
Citizen, Naturalized    0.023045
Non-Citizen             0.064822
Name: Citizenship, dtype: float64
**************************************************

## Problem 2.3 - Evaluating Missing Values
How many states had all interviewees living in a non-metropolitan area (aka they have a missing MetroAreaCode value)? For this question, treat the District of Columbia as a state (even though it is not technically a state).
- 2

In [9]:
cps.groupby('State').agg({'MetroAreaCode': lambda x: x.isnull().all()}).sum()

MetroAreaCode    2
dtype: int64

How many states had all interviewees living in a metropolitan area? Again, treat the District of Columbia as a state.
- 3

In [10]:
cps.groupby('State').agg({'MetroAreaCode': lambda x: not x.isnull().any()}).sum()

MetroAreaCode    3
dtype: int64

## Problem 2.4 - Evaluating Missing Values
Which region of the United States has the largest proportion of interviewees living in a non-metropolitan area?

In [11]:
cps.groupby('Region').agg({'MetroAreaCode': lambda x: np.mean(x.isnull())}).sort_values(by='MetroAreaCode').tail(1)

         MetroAreaCode
Region
Midwest       0.347869

## Problem 2.5 - Evaluating Missing Values
Which state has a proportion of interviewees living in a non-metropolitan area closest to 30%?
- Wisconsin

In [12]:
cps.groupby('State').agg({'MetroAreaCode': lambda x: np.mean(x.isnull())}).sort_values(by='MetroAreaCode')

                      MetroAreaCode
State
Rhode Island               0.000000
New Jersey                 0.000000
District of Columbia       0.000000
California                 0.020484
Florida                    0.039231
Massachusetts              0.064922
Maryland                   0.069375
New York                   0.080608
Connecticut                0.085684
Illinois                   0.112219
Colorado                   0.129915
Arizona                    0.131545
Nevada                     0.133082
Texas                      0.143705
Louisiana                  0.161379
Pennsylvania               0.174300
Michigan                   0.178257
Washington                 0.181319
Georgia                    0.198432
Virginia                   0.198442
Utah                       0.210098
Oregon                     0.218219
Delaware                   0.233966
New Mexico                 0.245009
Hawaii                     0.249166
Ohio                       0.251223
Alabama                    0.258721
Indiana                    0.291417
Wisconsin                  0.299330
South Carolina             0.313028
Minnesota                  0.315068
Oklahoma                   0.327643
Missouri                   0.328671
Tennessee                  0.355942
Kansas                     0.362274
North Carolina             0.373043
Iowa                       0.486946
Arkansas                   0.490500
Idaho                      0.498682
Kentucky                   0.506790
New Hampshire              0.568745
Nebraska                   0.581324
Maine                      0.598321
Vermont                    0.652381
Mississippi                0.694309
South Dakota               0.702500
North Dakota               0.737386
West Virginia              0.755855
Montana                    0.836079
Alaska                     1.000000
Wyoming                    1.000000

Which state has the largest proportion of non-metropolitan interviewees, ignoring states where all interviewees were non-metropolitan?
- Montana

## Problem 3.1 - Integrating Metropolitan Area Data
Codes like MetroAreaCode and CountryOfBirthCode are a compact way to encode factor variables with text as their possible values, and they are therefore quite common in survey datasets. In fact, all but one of the variables in this dataset were actually stored by a numeric code in the original CPS datafile.

When analyzing a variable stored by a numeric code, we will often want to convert it into the values the codes represent. To do this, we will use a dictionary, which maps the the code to the actual value of the variable. We have provided dictionaries MetroAreaCodes.csv and CountryCodes.csv, which respectively map MetroAreaCode and CountryOfBirthCode into their true values. Read these two dictionaries into data frames MetroAreaMap and CountryMap.

In [13]:
metro_area_code = pd.read_csv('../data/MetroAreaCodes.csv')
country_of_birth_code = pd.read_csv('../data/CountryCodes.csv')

How many observations (codes for metropolitan areas) are there in MetroAreaMap?

In [14]:
metro_area_code.shape[0]

271

How many observations (codes for countries) are there in CountryMap?

In [15]:
country_of_birth_code.shape[0]

149

## Problem 3.2 - Integrating Metropolitan Area Data
To merge in the metropolitan areas, we want to connect the field MetroAreaCode from the CPS data frame with the field Code in MetroAreaMap.

What is the name of the variable that was added to the data frame by the merge() operation?

In [16]:
df = cps.merge(metro_area_code, left_on='MetroAreaCode', right_on='Code', how='left')
df.columns[-1]

'MetroArea'

How many interviewees have a missing value for the new metropolitan area variable?

In [17]:
df['MetroArea'].isnull().sum()

34238

## Problem 3.3 - Integrating Metropolitan Area Data
Which of the following metropolitan areas has the largest number of interviewees?
- Boston-Cambridge-Quincy, MA-NH

In [18]:
df['MetroArea'].value_counts().sort_values(ascending=False).head(7)

New York-Northern New Jersey-Long Island, NY-NJ-PA    5409
Washington-Arlington-Alexandria, DC-VA-MD-WV          4177
Los Angeles-Long Beach-Santa Ana, CA                  4102
Philadelphia-Camden-Wilmington, PA-NJ-DE              2855
Chicago-Naperville-Joliet, IN-IN-WI                   2772
Providence-Fall River-Warwick, MA-RI                  2284
Boston-Cambridge-Quincy, MA-NH                        2229
Name: MetroArea, dtype: int64

## Problem 3.4 - Integrating Metropolitan Area Data
Which metropolitan area has the highest proportion of interviewees of Hispanic ethnicity?

In [19]:
df.groupby('MetroArea')['Hispanic'].mean().sort_values().tail(1)

MetroArea
Laredo, TX    0.966292
Name: Hispanic, dtype: float64

## Problem 3.5 - Integrating Metropolitan Area Data
Determine the number of metropolitan areas in the United States from which at least 20% of interviewees are Asian.
- Honolulu, HI
- San Francisco-Oakland-Fremont, CA
- San Jose-Sunnyvale-Santa Clara, CA
- Vallejo-Fairfield, CA

In [20]:
df.groupby('MetroArea').agg({'Race': lambda x: np.mean(x=='Asian')})\
    .sort_values('Race', ascending=False).head(5)

                                        Race
MetroArea
Honolulu, HI                        0.501904
San Francisco-Oakland-Fremont, CA   0.246753
San Jose-Sunnyvale-Santa Clara, CA  0.241791
Vallejo-Fairfield, CA               0.203008
Fresno, CA                          0.184818

## Problem 3.6 - Integrating Metropolitan Area Data
Determine which metropolitan area has the smallest proportion of interviewees who have received no high school diploma.

In [21]:
df.groupby('MetroArea').agg({'Education': lambda x: np.mean(x=='No high school diploma')})\
    .sort_values('Education').head(1)

               Education
MetroArea
Iowa City, IA   0.022901

## Problem 4.1 - Integrating Country of Birth Data
Just as we did with the metropolitan area information, merge in the country of birth information from the CountryMap data frame, replacing the CPS data frame with the result. If you accidentally overwrite CPS with the wrong values, remember that you can restore it by re-loading the data frame from CPSData.csv and then merging in the metropolitan area information using the command provided in the previous subproblem.

What is the name of the variable added to the CPS data frame by this merge operation?

In [22]:
df = df.merge(country_of_birth_code, left_on='CountryOfBirthCode', right_on='Code', how='left')
df.columns[-1]

'Country'

How many interviewees have a missing value for the new country of birth variable?

In [23]:
df['Country'].isnull().sum()

176

## Problem 4.2 - Integrating Country of Birth Data
Among all interviewees born outside of North America, which country was the most common place of birth?

In [24]:
df['Country'].value_counts().sort_values(ascending=False).head(3)

United States    115063
Mexico             3921
Philippines         839
Name: Country, dtype: int64

## Problem 4.3 - Integrating Country of Birth Data
What proportion of the interviewees from the "New York-Northern New Jersey-Long Island, NY-NJ-PA" metropolitan area have a country of birth that is not the United States? For this computation, don't include people from this metropolitan area who have a missing country of birth.

In [25]:
np.mean(df[df['MetroArea']=="New York-Northern New Jersey-Long Island, NY-NJ-PA"]['Country']!='United States')

0.30929931595489

## Problem 4.4 - Integrating Country of Birth Data
Which metropolitan area has the largest number (note -- not proportion) of interviewees with a country of birth in India?

In [26]:
df.groupby('MetroArea').agg({'Country': lambda x: np.sum(x=='India')})\
    .sort_values(by='Country', ascending=False).head(1)

                                                    Country
MetroArea
New York-Northern New Jersey-Long Island, NY-NJ-PA       96

In [27]:
df.groupby('MetroArea').agg({'Country': lambda x: np.sum(x=='Brazil')})\
    .sort_values(by='Country', ascending=False).head(1)

                                Country
MetroArea
Boston-Cambridge-Quincy, MA-NH       18

In [28]:
df.groupby('MetroArea').agg({'Country': lambda x: np.sum(x=='Somalia')})\
    .sort_values(by='Country', ascending=False).head(1)

                                        Country
MetroArea
Minneapolis-St Paul-Bloomington, MN-WI       17